**/bin/
**/obj/
**/temp/

.vs/
.vscode/

.DS_Store
Thumbs.db

# Azurite Storage Emulator
AzuriteConfig
AzuriteConfig/
__azurite_db_*__.json
__blobstorage__/
__queuestorage__/

# Angular CLI cache
.angular/

# TypeScript incremental compilation
*.tsbuildinfo