<ul class="nav-menu flex">

  @for (item of menuItems; track $index) {
    @if (item.isTitle) {
      <li class="nav-title"> <span> {{ item.label }}</span></li>
    }
    @if (!item.isTitle) {
      <!-- menu item without any child -->
      @if (!hasSubMenu(item)) {
        <ng-container *appHasPermission="item.requiredPermission">
          <ng-container *ngTemplateOutlet="MenuItem;context:{item}"/>
        </ng-container>
      }
      <!-- menu item with child -->
      @if (hasSubMenu(item)) {
        <ng-container *appHasPermission="item.requiredPermission">
          <ng-container *ngTemplateOutlet="MenuItemWithChildren;context: { item: item, siblings: menuItems }"/>
        </ng-container>
      }
    }
  }

</ul>

<ng-template #MenuItemWithChildren let-item="item"  let-siblings="siblings">
  <li class="nav-item has-ul" [ngClass]="{'active': (item.isCollapsed && isChildActive(item))}">
    <a  (click)="toggleCollaspe(item, siblings)"
            [attr.aria-expanded]="!item.isCollapsed">
      @if (item.icon) {
        <svg class="sa-icon">
          <use [attr.href]="item.icon"></use>
        </svg>
      }
      <span class="nav-link-text">{{ item.label }}</span>
      @if (item.badge) {
        <span [class]="`badge ml-auto mr-4 bg-${item.badge.variant}`">{{ item.badge.text }}</span>
      }
        <span class="collapse-sign">
            <svg class="sa-icon" style="width:0.875rem;height:0.875rem;"><use href="/assets/icons/sprite.svg#chevron-up"></use></svg>
          </span>
    </a>
    <div   #collapse="ngbCollapse" [(ngbCollapse)]="item.isCollapsed!" class="collapse">
      <ul class="sub-menu flex">
        @for (child of item.children; track $index) {
          <!-- menu item without any child -->
          @if (!hasSubMenu(child)) {
            <ng-container *appHasPermission="child.requiredPermission">
              <ng-container *ngTemplateOutlet="MenuItem;context:{item:child}"/>
            </ng-container>
          }
          <!-- menu item with child -->
          @if (hasSubMenu(child)) {
            <ng-container *appHasPermission="child.requiredPermission">
              <ng-container *ngTemplateOutlet="MenuItemWithChildren;context: { item: child, siblings: item.children }"/>
            </ng-container>
          }
        }

      </ul>
    </div>
  </li>
</ng-template>

<ng-template #MenuItem let-item="item">
  <li  [ngClass]="{'active': isActive(item)}">
    @if (item.url) {
      <a [routerLink]="item.url" [target]="item.target"
         [ngClass]="{'disabled': item.isDisabled,'special-menu': item.isSpecial, 'active': isActive(item)}"
         [attr.data-active-link]="isActive(item)"
      >
        @if (item.icon) {
          <svg class="sa-icon">
            <use [attr.href]="item.icon"></use>
          </svg>
        }
        <span class="nav-link-text">{{ item.label }}</span>
        @if (item.badge) {
          <span [ngClass]="`badge badge-${item.badge.variant} opacity-50`"
                [innerHTML]="item.badge.text"></span>
        }
      </a>
    }
  </li>
</ng-template>
