
th {
    font-weight: 500;
}

.table {
    //--bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.025);
    //--bs-table-border-color: rgba(var(--bs-body-color-rgb), 0.07);
    --bs-table-hover-bg: rgba(var(--bs-primary-rgb), 0.14);

    font-weight: 300;
    font-size: 0.875rem;

    &.table-sm {
        font-size: 0.825rem;
    }

    &.table-nano {
        font-size: 0.75rem; // 12px

        & > :not(caption) > * > * {
            padding: 0.25rem 0.25rem;
        }
    }
}

.table thead td, 
.table thead th {
    border-bottom-width: 2px;
}

.table-hover > tbody > tr:hover  {
}

// calendar table
.table-border-0 td,.table-border-0 th {
    border: 0!important
}

.table-calendar {
    table-layout: fixed
}

.table-calendar th {
    border: 0!important;
    font-weight: 500
}

.table-calendar tr td:first-child {
    border-left: 0
}

.table-calendar tr td:last-child {
    border-right: 0;
    padding-right: 10px
}

.table-calendar td,.table-calendar th {
    text-align: right;
    vertical-align: top;
    padding: 5px 8px;
    position: relative;
    border: 1px solid var(--bs-border-color);
}

.table-calendar-appointment-date {
    font-size: 2.2rem !important;
    vertical-align: top;
    line-height: 1.15;
    margin-right: 0.25rem;
}