//

/* Highlight <td> if it has a checked checkbox inside */
.st-table tr:has(input[type="checkbox"]:checked) {

  td {
    --bs-table-color-state: var(--bs-table-hover-color);
    --bs-table-bg-state: var(--bs-table-hover-bg);
  }
}